body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*Attention! Le background-image doit se redimentionner quand il passe en dessous de 677%*/
    background-image: url("./img/Studio_Ghibli_logo.svg.png");
    background-position: top 100px center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    }

/*HEADER*/
.navbar{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 50px auto 0;
}

#search{
    /*Attention! Le searchBtn doit sortir et ne pas changer de taille quand l'écran passe en dessous de 577%*/
    margin-right: -40px !important;
}

#btnSearch{
    width: 40px;
    background-image: url("./img/search2.png");
    background-repeat: no-repeat;
    background-color: white;
    z-index: 100;
}

/**/
.App-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -50px;
}

.card-body{
    width: 450px;
    height: 350px;
    padding: 0;
    margin: 0;
}

#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    font-family: 'Oleo Script', cursive;
    text-decoration: underline;
}

#card h3{
    padding-top: 6px;
}


/*Parti Lieux*/
#Lieux{
    background-image: url("./img/lieux2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(96, 255, 91, 0.26);
    margin: 40px 20px;
}

#a-lieux{
    color: #525851;
}

#lieux-title{
    background-color: #5d645c;
    height: 55px;
    color: #bde8bb;
}


/*Parti Especes*/
#Especes{
    background-image: url("./img/especes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(247, 255, 26, 0.26);
    margin: 40px 20px;
}

#a-especes{
    color: #525851;
}

#especes-title{
    background-color: #5d645c;
    height: 55px;
    color: #edefb6;
}


/*Parti Personnages*/
#Personnages{
    background-image: url("./img/personnages.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 137, 193, 0.26);
    margin: 40px 20px;
}

#a-perso{
    color: #525851;
}

#perso-title{
    background-color: #5d645c;
    height: 55px;
    color: #e7cfdb;
}


/*Parti Vehicules*/
#Vehicules{
    background-image: url("./img/vehicule.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(155, 255, 248, 0.26);
    margin: 40px 20px;
}

#a-vehicules{
    color: #525851;
}

#vehicules-title{
    background-color: #5d645c;
    height: 55px;
    color: #c0d6d4;
}